<div class="login-container">
    <form class="form-signin" (ngSubmit)="onLogin()" #f="ngForm">
        <!--<img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <div ngModelGroup="userData" #userData="ngModelGroup">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" 
                id="inputEmail" 
                class="form-control" 
                placeholder="Email address" 
                required 
                autofocus 
                ngModel 
                name="email"
                email
                #emailRef="ngModel">
            <span *ngIf="emailRef.invalid && emailRef.touched">Please enter a valid email!</span>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" ngModel required name="pwd" #usernameRef="ngModel">
            <span *ngIf="usernameRef.invalid && usernameRef.touched">Please enter password.</span>
        </div>
        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me" name="rememberMe" ngModel #rememberMeRef="ngModel"> Remember me
        </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="userData.invalid && userData.touched">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</div>